<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Automobile system</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <!-- <li><a [routerLink]="'/vehicles'" routerLinkActive="active">Vehicles</a></li> -->
        <li><a [routerLink]="'/upload'" routerLinkActive="active">Upload file</a></li>
        <!-- <li><a [routerLink]="'/export'" routerLinkActive="active">Export file</a></li> -->
        
      </ul>
      <!-- <div class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="word">
        </div>
        <button [routerLink]="'/view-search/model'" [queryParams]="{word: word}" class="btn btn-default">Search by Model</button>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">User</a></li> 
      </ul> -->
    </div>
  </div>
</nav>
