<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4">
            <form [formGroup]="myForm" (ngSubmit)="submit()">

                <div class="form-group">
                    <label for="file">Please select the csv file</label>
                    <input formControlName="file" id="csv" type="file" class="form-control"
                        (change)="onFileChange($event)" multiple>
                </div>

                <button class="btn btn-primary" type="submit">Upload</button>
            </form>

        </div>
    </div>
</div>